// Utils
@import "../utils/general.scss";
@import "../utils/variables.scss";

// Pages
@import "../pages/Cart/Cart.scss";
@import "../pages/Photos/Photos.scss";

// Components
@import "../components/Header/Header.scss";
@import "../components/Image/Image.scss";