*{
    box-sizing: border-box
}
:root{
    font-size: 16px;
    --black: #150605;
    --red: #EA453C;
    --pink: #F47B6E;
    --light-blue: #EFFBFE;
    --blue: #ACE6EC;
}

html, body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited { color: var(--light-blue); }
a:hover { color: var(--light-blue); }
a:active { color: var(--light-blue); }

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}